# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
 
neca-admin/node_modules
neca-admin/dist
neca-admin/dist-ssr
neca-admin/.vite

backend-server/node_modules
backend-server/dist
backend-server/dist-ssr
backend-server/.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development
.env.production
